.workingProgress {
  padding: 20px;
  background-color: #ddd;
  height: 300px;
}
.workingProgress img {
  width: 30%;
}
.customHeight {
  height: 286px;
}

/* ====================== */
/* For Mobile Responsive */
/* ====================== */
@media (max-width: 425px) {
  .workingProgress {
    height: 150px;
  }
  .customHeight {
    height: 134px;
  }
  .workingProgress img {
    width: 70%;
    background-color: transparent;
    border: none;
  }
  .workingProgress h1 {
    font-size: 13px;
    font-weight: 400;
  }
  .workingProgress h4 {
    font-size: 13px;
    font-weight: 300;
  }
}
