.workingProgress {
  padding: 20px;
  background-color: #ddd;
  height: 300px;
}
.workingProgress img {
  width: 30%;
}
.customHeight {
  height: 286px;
}
.btn-profile {
  margin-left: 8px;
}
.img-control img {
}
.prev-hidden,
.next-hidden {
  opacity: 0 !important;
}
.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #198754;
}
.for-map-marging {
  margin-top: -6px;
}
.google-map-sizeing {
  height: 350px;
}
.categories-height {
  height: 195px;
}
.categories-height p {
  font-size: 13px;
  font-weight: 400;
  padding: 4px 10%;
  margin-bottom: 8px;
}
.categories-height img {
  width: 32px;
}
.for-padding {
  padding: 0px 5px;
  margin-top: 15px;
  width: 100px;
}
.for-color-btn {
  color: white;
}
.for-color-btn:hover {
  background: #1dd9ff;
  color: black;
}
/* ====================== */
/* For Mobile Responsive */
/* ====================== */
@media (max-width: 425px) {
  .workingProgress {
    height: 150px;
  }
  .customHeight {
    height: 134px;
  }
  .workingProgress img {
    width: 70%;
    background-color: transparent;
    border: none;
  }
  .workingProgress h1 {
    font-size: 13px;
    font-weight: 400;
  }
  .workingProgress h4 {
    font-size: 13px;
    font-weight: 300;
  }
  .carousel-indicators {
    margin-bottom: 0px;
  }
  .carousel-indicators [data-bs-target] {
    width: 8px;
    height: 8px;
  }
  .google-map-sizeing {
    height: 110px;
  }
  .categories-height p {
    font-size: 10px;
    font-weight: 400;
    padding: 4px 5%;
  }
}
